body {
  background-color: #e1dd00;
  font-family: "Nunito", sans-serif;
  background-image: url("taco-shell.jpg");
  /* taco shell image taken by Brendon Hart */
}

h2 {
  font-family: "Luckiest Guy", cursive;
  text-align: center;
  font-size: 3em;
  color: white;
  text-shadow: 2px 2px 5px black, 2px 2px 5px black, 2px 2px 5px black,
    2px 2px 5px black;
}

button {
  text-align: center;
  background-color: #430000;
  border: 3px solid #e1dd00;
  border-radius: 12px;
  color: white;
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.25em;
}

button:active,
button:focus {
  background-color: #aa2c2c;
}

.container {
  background-color: #430000;
  background-image: url("shredded-beef.jpg");
  border-radius: 0 0 200px 200px;
  /* shredded beef image from https://www.foxandbriar.com/slow-cooker-mexican-shredded-beef/ */
}

.pageTop {
  background-color: #00800d;
  color: white;
  font-style: italic;
  text-shadow: 2px 2px 5px black, 2px 2px 5px black, 2px 2px 5px black,
    2px 2px 5px black;
  padding: 0.5em 1em;
  background-image: url("shredded-lettuce.jpg");
  /* shredded lettuce image from https://www.taylorfarmsfoodservice.com/products/iceberg-romaine/ */
}

.subtitle {
  color: white;
  font-style: italic;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 2px 2px 5px black, 2px 2px 5px black, 2px 2px 5px black,
    2px 2px 5px black;
  font-size: 2em;
}

.nav-wrapper {
  background-color: #b48400;
  background-image: url("shredded-cheese.jpg");
  text-shadow: 2px 2px 5px black, 2px 2px 5px black, 2px 2px 5px black,
    2px 2px 5px black;
  border-left: 2px darkgoldenrod solid;
  border-right: 2px darkgoldenrod solid;
  /* shredded cheese image from https://theoutline.com/post/6016/shredded-cheese-memes?zd=1&zi=tin5bojm */
}

.logo {
  width: 64px;
  border-radius: 50%;
  border: 3px solid #430000;
}

.genBtn,
#meme {
  text-align: center;
}

#tagline {
  font-family: "Luckiest Guy", cursive;
  font-size: 5em;
}

#subhead {
  background-color: #aa2c2c;
  background-image: url("salsa.jpg");
  margin: -25px 0;
  padding: 0.5em;
}

/* jean added this */
#gif {
  position: absolute;
  width: 250px;
  z-index: 100;
  text-align: center;
  margin: 0 auto;
  display: block;
  left: 30%;
  bottom: 30%;
}

#blur {
  filter: blur(1.5rem);
  transition: filter 1s;
  background-color: #430000;
}

/* ------------------------------------------------- */
/* ANDY ADDITIONS - LET ME KNOW IF ANYTHING OVERLAPS */
/* ------------------------------------------------- */

/* ----------------- */
/* GRID MENU PAGES */
/* ----------------- */

/* Adds Finger Pointer to Cursor When Headline Hovering */
.TgridHeadlines {
  color: white;
  cursor: pointer;
}

.SgridHeadlines {
  color: white;
  cursor: pointer;
}

#gridHeadlines {
  color: white;
  cursor: pointer;
}

#gridImg {
  width: 250px;
  cursor: pointer;
}

/* Controls the Grid Headlines */
h3 {
  color: white;
  font-size: 16px;
  height: 40px;
  margin-top: 40px;
  font-weight: bolder;
  font-family: "Nunito", sans-serif;
}

/* Control Each Box Recipes Appear Inside the Grid System */

.tacoBox {
  color: white;
  height: auto;
  text-align: center;
  /* background: rgba(0,0,0,.7); */
}

.salsaBox {
  color: white;
  height: auto;
  text-align: center;
  /* background: rgba(0,0,0,.7); */
}

.drinkBox {
  height: 550px;
  text-align: center;
  /* background: rgba(0,0,0,.7); */
}

/* Adds Dark Background to Meat for Copy Pop */

.allItemsBackground {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 200px 200px;
}

/* Resizes all Images in the Grid to Not Look Stupid */

.TgridImg {
  width: 250px;
  cursor: pointer;
}

.SgridImg {
  width: 250px;
  cursor: pointer;
}

/* Obsolete: Controlled Recipe Copy on Menu */

.tacoRecipes {
  font-size: 12px;
  color: white;
  text-align: left;
  font-family: "Nunito", sans-serif;
}

.salsaRecipes {
  font-size: 12px;
  color: white;
  text-align: left;
  font-family: "Nunito", sans-serif;
}

.drinkRecipes {
  font-size: 16px;
  color: white;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

/* ----------------- */
/* DISPLAY ITEM PAGE */
/* ----------------- */

/* Controls Headline of Clicked Item */

h4 {
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

/* Displays "Ingredients" Headline*/

h5 {
  color: white;
  font-size: 26px;
  text-align: left;
  font-family: "Nunito", sans-serif;
}

/* Controls Image of Clicked Item */

#heroImage {
  text-align: center;
  border-radius: 200px 200px 200px 200px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Div Controller for Headline */

.itemHeroHeadline {
  height: auto;
  width: 100%;
  color: white;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
  /* background: rgba(0,0,0,.7); */
}

/* Div Controller for Image */

.itemHeroImage {
  height: 10000;
  width: 100%;
  color: white;
  /* padding-bottom: 50px;  */
  text-align: center;
}

/* Ingredient Icon Column */
.iconCol {
  height: auto;

  /* Ingredient Details Column */
}
.ingredientCol {
  height: auto;
}

/* Div Container/Controller for Icon and Details */
.ingDiv {
  display: block;
  color: white;
  margin-top: 10px;
  padding-bottom: 50px;
  /* margin-bottom:50px; */
  height: 50px;
}

/* Div Container/Controller for Nutrition Details */
.nutDiv {
  display: block;
  color: white;
  margin-top: 10px;
  padding-bottom: 50px;
  /* margin-bottom:50px; */
  height: 50px;
}

/* Controls Icon */
#ingImg {
  text-align: right;
  border-radius: 200px 200px 200px 200px;
  width: 50px;
  /* margin-top: 20px; */
}

/* Controls Ingredient Copy */
#ingredient {
  color: white;
  width: 100%;
  text-decoration: rgb(212, 202, 202);
  font-size: 18px;
  padding-top: 10px;
}

/* Controls Nutrition Copy */
#nutrition {
  color: white;
  width: 100%;
  text-decoration: rgb(212, 202, 202);
  font-size: 26px;
  font-weight: bolder;
  margin-top: 40px;
}

/* Adds Spacing to End of Grid Menu and Display Pages*/
#footerSpacing {
  height: 50px;
}

/* Brendon added this */
.card {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

/* Charlie's styling */
.drinkArea {
  color: white;
}

.input-field input[type="text"] {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding-left: 5px;
}

.input-field.input-outlined input[type="text"]:focus + label {
  color: white;
}

.input-field.input-outlined input[type="text"]:focus {
  border: 3px solid #aa2c2c;
  border-radius: 10px;
  box-shadow: none;
}
